<div class="mx-auto max-w-3xl mt-24">
  <div class="mb-6">
    <h1 class="font-bold text-4xl">Turbo Todos</h1>
  </div>

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render "form", todo: Todo.new %>

  <div id="todos" class="divide-y list-none">
    <%= render @todos %>
  </div>
</div>
